{% extends "base.html" %}
{% block start %}
<head><link rel="stylesheet" href="/static/cssfiles/index.css"></head>
<div class="container col-xxl-8 px-4 py-5" style="width: 90%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/images/about1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="font-family: 'Playfair Display', serif;">OUR MISSION</h1>
        <p class="lead">At Durgesh Commercial and Marketing Pvt Ltd, our mission is to provide high-quality and comprehensive hotel supplies to our clients. We strive to exceed our customer's expectations by delivering exceptional products and services that meet their unique needs. Our commitment to excellence, integrity, and customer satisfaction drives our success as a leading supplier in the hotel supply industry.</p>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3" style="width: 90%;">
    <h2 class="pb-2">Client Testimonials</h2>
    <h5 class="pb-2 border-bottom text-center" style="font-family: 'Whisper', cursive;">Hear What Our Clients Have to Say About Us</h5>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col ">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3 bg-white" style="width: 200px;">
          <svg class="bi" width="1em" height="1em"><img src="/static/svgfiles/fivestars.svg" alt=""></svg>
        </div>
         <p>We are delighted with the quality of the products we receive from Durgesh Commercial and Marketing Pvt Ltd. Their toiletries and amenities are always well-received by our guests, and their paper products are of the highest quality.</p>
        </div>
      <div class="feature col">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/radisson.png" alt="" height="100"></svg>
        </div>
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3 bg-white" style="width: 200px;">
            <svg class="bi" width="1em" height="1em"><img src="/static/svgfiles/fivestars.svg" alt=""></svg>
          </div>
        <p>We highly recommend Durgesh Commercial and Marketing Pvt Ltd for all your hotel supply needs. Their products are high-quality and delivered on time, every time.</p>
        
      </div>
      <div class="feature col">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3 bg-white" style="width: 200px;">
            <svg class="bi" width="1em" height="1em"><img src="/static/svgfiles/fivestars.svg" alt=""></svg>
          </div>
        <p>Durgesh Commercial and Marketing Pvt Ltd's products have played a significant role in enhancing our guests' experience. Their toiletries and amenities are always well-received, and their paper products are durable and reliable.</p>
       
      </div>
      <div class="feature col ">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3 bg-white" style="width: 200px;">
          <svg class="bi" width="1em" height="1em"><img src="/static/svgfiles/fivestars.svg" alt=""></svg>
        </div>
         <p>We are delighted with the quality of the products we receive from Durgesh Commercial and Marketing Pvt Ltd. Their toiletries and amenities are always well-received by our guests, and their paper products are of the highest quality.</p>
         
        </div>
      <div class="feature col">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3 bg-white" style="width: 200px;">
            <svg class="bi" width="1em" height="1em"><img src="/static/svgfiles/fivestars.svg" alt=""></svg>
          </div>
        <p>We highly recommend Durgesh Commercial and Marketing Pvt Ltd for all your hotel supply needs. Their products are high-quality and delivered on time, every time.</p>
      </div>
      
    </div>
  </div>

{% endblock %}