{% extends "base.html"%}
{% block start %}
<head><link rel="stylesheet" href="/static/cssfiles/index.css">
<div class="container col-xxl-8 px-4 py-5 " style="background-color: rgb(227, 225, 225);width: 100%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" >
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/images/starter.png" class="d-block mx-lg-auto img-fluid" alt="Visual" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Durgesh Commercial and Marketing Pvt Ltd - <span style="font-weight: normal;font-family:'Cedarville Cursive', cursive;">Your Partner in Quality Hotel Supplies</span></h1>
        <p class="lead">At Durgesh Commercial and Marketing Pvt Ltd, we offer a wide range of high-quality hotel supplies to meet the unique needs of the hospitality industry. From paper products to guest amenities and toiletry kits, we are your one-stop-shop for all your hotel supply needs.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="background-color: #673657;">View our Products</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3" style="width: 90%;">
    <h2 class="pb-2" style="font-family: 'Roboto Slab', serif;font-weight: 700;font-size: 50px;">Our Products</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/static/images/paper.png" class="img-thumbnail" alt="Paper Products">
        </div>
        <h3 class="fs-2 text-body-emphasis" style="font-family: 'Roboto Slab';">Paper Products</h3>
        <p>We offer a range of high-quality paper products, including napkins, tissues, and toilet rolls, to meet the diverse needs of hotels and the hospitality industry.</p>
        <a href="#" class="icon-link text-muted text-decoration-none">
          Read More
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/static/images/toileteries.png" class="img-thumbnail" alt="Toiletries Kits">
        </div>
        <h3 class="fs-2 text-body-emphasis" style="font-family: 'Roboto Slab';">Toiletries Kits</h3>
        <p>Our range of toiletries kits includes high-quality essentials such as shampoo, conditioner, body wash, lotion, and soap, and can be customized to cater to specific…</p>
        <a href="#" class="icon-link text-muted text-decoration-none">
            Read More
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="/static/images/guest.png" class="img-thumbnail" alt="Guest Amenities">
        </div>
        <h3 class="fs-2 text-body-emphasis" style="font-family: 'Roboto Slab';">Guest Amenities</h3>
        <p>We provide a range of premium quality guest amenities, including dental kits, vanity kits, and shaving kits, to enhance the comfort and satisfaction of your…</p>
        <a href="#" class="icon-link text-muted text-decoration-none">
        Read More
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
  <hr class="hr-text" data-content="Features and Benefits">
  <div class="container px-4 py-5" id="icon-grid" style="background-color: rgb(227, 225, 225);width: 100%;">
    <h2 class="pb-2 text-center text-uppercase texty" style="font-family: 'Dancing Script', cursive;">Features</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/paperproducts.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Wide Range of Paper Products</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/highquality.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">High-Quality Guest Amenities</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/customizable.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Customizable Toiletries Kits</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/timedelivery.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Reliable and Timely Delivery</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="icon-grid" style="background-color: rgb(227, 225, 225);width: 100%;">
    <h2 class="pb-2 text-uppercase text-center" style="font-family: 'Dancing Script', cursive;">Benefits</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/enhancedguestexp.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Enhanced Guest Experience</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/guestsatisfaction.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Increased Guest Satisfaction</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/costeffective.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
            Cost-Effective Solutions</h3>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><img src="/static/svgfiles/efficientoperations.svg" alt="" width="50" height="50"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Efficient Operations</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3" style="width: 90%;">
    <h2 class="pb-2" style="font-family: 'Teko', sans-serif;
    font-family: 'Whisper', cursive;">⭐Our Top Clients⭐</h2>
    <h5 class="pb-2 border-bottom text-center" style="font-family: 'Whisper', cursive;"></h5>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col ">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        </div>
      <div class="feature col">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/radisson.png" alt="" height="100"></svg>
        </div>
       </div>
      <div class="feature col">
        <div class="icon-link container">
            <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
        </div>
        </div>
        <div class="feature col">
          <div class="icon-link container">
              <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
          </div>
          </div>
          <div class="feature col">
            <div class="icon-link container">
                <svg class="bi"><img src="/static/images/kaveri.png" alt="" height="100"></svg>
            </div>
            </div>
      
      
    </div>
  </div>
  
{% endblock %}